<h1>Database Test!</h1>

<p>If the database test worked, you should see an urget messgae down below.</p>

<div class="message">
    <p>{{message.message}}</p>
    <p>By: {{message.username}}</p>
    <p>Status: {{message.active}}</p>
    <p>Created: {{message.added}}</p>
    <p>Message Type: {{message.message_type}}</p>
    <p>Errors: {{err}}</p>
</div>